body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url("{{ url_for('static', filename='images/background.jpg') }}") center/cover no-repeat;
  height: 100vh;
  color: #fff;
}


.overlay {
  background: rgba(0,0,0,0.75);
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.2rem;
  letter-spacing: 2px;
  color: #e50914;
}

nav a {
  color: #fff;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

nav .btn {
  padding: 8px 18px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-signup {
  background: #e50914;
  color: #fff;
}

.btn-signup:hover {
  background: #f6121d;
}

.hero {
  text-align: center;
  margin-top: 15vh;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.3rem;
  color: #ccc;
}

.hero-buttons .btn {
  display: inline-block;
  margin: 20px 10px;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-explore {
  background: #e50914;
  color: #fff;
}

.btn-login {
  background: transparent;
  color: #fff;
  border: 2px solid #e50914;
}

.btn-explore:hover {
  background: #f6121d;
}

.btn-login:hover {
  background: #e50914;
}
